@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@font-face{font-family:'Burbank';src:url('https://imagex-hosting.ml/fonts/BurbankBigCondensed-Bold.woff2') format('woff2'),url('https://imagex-hosting.ml/fonts/BurbankBigCondensed-Bold.woff') format('woff');font-weight:700;font-style:normal}

h1, h2 {
font-family:"Burbank", Times, serif;
}
